$primary: #1665D8;
$border-color: #EAEDF3;
$placeholder-color: #9EA0A5;
$text-color: #3E3F42;

$green: #34AA44;
$red: #E6492D;


$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-focus-box-shadow: none;

$card-spacer-x: 1.5rem !default;
