.stats {
  min-height: 150px;
}

.card {
  background: #fff;
  border: 1px solid #EAEDF3;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.03);
  border-radius: 4px;

  &-top {
    justify-content: space-between;
  }
}
